@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply scroll-pt-24 scroll-smooth;
  }

  body {
    @apply font-sans font-normal text-neutral-800 bg-zinc-50;
  }

  h1 {
    @apply font-serif text-neutral-900 italic font-bold;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply relative font-serif text-neutral-900 my-2;

    .link-icon {
      @apply inline-block absolute -left-6 bottom-0 align-bottom text-sky-300 opacity-10 transition;
    }

    &:hover .link-icon {
      @apply text-sky-500 opacity-100;
    }
  }

  h2,
  h3 {
    @apply italic border-b border-stone-300 font-bold mt-4;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  p {
    @apply indent-4;
  }

  a {
    @apply underline decoration-emerald-600 decoration-1;
  }

  .ms {
    text-indent: 0;
  }

  #right-sidebar {
    @apply fixed top-24 -right-80 bottom-0 z-20 w-96 shadow-lg opacity-40 transition-position transition-opacity;

    &:hover {
      @apply opacity-80;
    }
  }

  #right-sidebar.open {
    @apply right-0 opacity-90;
  }

  #right-sidebar-icon {
    @apply absolute w-16 top-0 left-0 bottom-0 bg-slate-200 text-xl text-gray-500;

    #close-icon,
    #open-icon {
      @apply absolute top-0 w-12 h-12 m-2 opacity-100 transition-opacity;
    }
  }

  #right-sidebar:not(.open) #close-icon,
  #right-sidebar.open #open-icon {
    @apply opacity-0;
  }

  #right-sidebar-title {
    @apply absolute text-3xl font-bold top-16 left-3;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  #right-sidebar-list {
    @apply absolute w-80 top-0 right-0 bottom-0 bg-slate-50 overflow-y-auto;
  }

  #right-sidebar-list > a {
    @apply relative block text-lg text-ellipsis overflow-hidden w-full whitespace-nowrap m-1 no-underline pr-6;

    &.headlink-2 {
      @apply pl-4;
    }

    &.headlink-3 {
      @apply pl-8;
    }

    &.headlink-4 {
      @apply pl-12;
    }

    &.headlink-5 {
      @apply pl-16;
    }
  }

  #right-sidebar-list > a > .parent-icon {
    @apply absolute -left-1 ml-1 pl-0.5 top-1.5 w-4 h-4;
  }
}
